name: Go Tests

on:
  push:
    branches: [ "main" ]  
  pull_request:
    branches: [ main ]
  workflow_dispatch:    

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -race -v ./...
